# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Log files
*.log

# Temporary files
*.tmp
*.swp

# Build dir
build/
bin/

# Files created by macOS
.DS_Store
